/*
Särskilda instruktioner:
1) HTML-filen ska inte ändras alls. Notera att span-elementen
   har classer. Ni kan använda dem i CSS-koden.
2) Ni kan ändra bäst ni vill i CSS-koden nedan så länge ni följer 
   instruktionerna ovan.
*/

body {
  margin: 0px;
  font: 10vh 'Bebas Neue';  
  color: hotpink;
}

body > div {
  display: flex;
  width: 600px;
  height: 50vh;
  display: flex;
}

body > div > div {
  flex-basis: 1px;
  flex-grow: 1;
  background-color: aquamarine;
}

.on {
  display: none;
}

selector {
  background-color: greenyellow;
  border-radius: 50px;
}

selector {
  display: block;
}

selector {
  display: none;
}